AhnqIot.AreaStationDataProcess/Service References/AHNQ.Weather/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getForcast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getForcastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getForcastResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWeather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWeatherByCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWeatherByCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWeatherByCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlarm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="areaName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlarmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAlarmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getForcastSoapIn">
    <wsdl:part name="parameters" element="tns:getForcast" />
  </wsdl:message>
  <wsdl:message name="getForcastSoapOut">
    <wsdl:part name="parameters" element="tns:getForcastResponse" />
  </wsdl:message>
  <wsdl:message name="getWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:getWeather" />
  </wsdl:message>
  <wsdl:message name="getWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:getWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="getWeatherByCitySoapIn">
    <wsdl:part name="parameters" element="tns:getWeatherByCity" />
  </wsdl:message>
  <wsdl:message name="getWeatherByCitySoapOut">
    <wsdl:part name="parameters" element="tns:getWeatherByCityResponse" />
  </wsdl:message>
  <wsdl:message name="getAlarmSoapIn">
    <wsdl:part name="parameters" element="tns:getAlarm" />
  </wsdl:message>
  <wsdl:message name="getAlarmSoapOut">
    <wsdl:part name="parameters" element="tns:getAlarmResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getForcast">
      <wsdl:input message="tns:getForcastSoapIn" />
      <wsdl:output message="tns:getForcastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWeather">
      <wsdl:input message="tns:getWeatherSoapIn" />
      <wsdl:output message="tns:getWeatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWeatherByCity">
      <wsdl:input message="tns:getWeatherByCitySoapIn" />
      <wsdl:output message="tns:getWeatherByCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlarm">
      <wsdl:input message="tns:getAlarmSoapIn" />
      <wsdl:output message="tns:getAlarmSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getForcast">
      <soap:operation soapAction="http://tempuri.org/getForcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeather">
      <soap:operation soapAction="http://tempuri.org/getWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeatherByCity">
      <soap:operation soapAction="http://tempuri.org/getWeatherByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarm">
      <soap:operation soapAction="http://tempuri.org/getAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getForcast">
      <soap12:operation soapAction="http://tempuri.org/getForcast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeather">
      <soap12:operation soapAction="http://tempuri.org/getWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeatherByCity">
      <soap12:operation soapAction="http://tempuri.org/getWeatherByCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarm">
      <soap12:operation soapAction="http://tempuri.org/getAlarm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://www.ahqx.gov.cn/weather/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://www.ahqx.gov.cn/weather/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>